@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100);

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body{
  font-family: 'Roboto', sans-serif;
  background: -webkit-linear-gradient(90deg, #232526 10%, #414345 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #232526 10%, #414345 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #232526 10%, #414345 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #232526 10%, #414345 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #232526 10%, #414345 90%); /* W3C */
}

header{
  font-size: 45px;
  color: #fff;
  font-weight: 200;
  text-align: center;
  margin-top: 40px;
}

.fixed{
  position: fixed;
  bottom: 100px;
  right: 50%;
  margin-right: -35px;
  padding: 10px 20px;
  font-size: 45px;
}

.fixed a{
  color: #cccccc;
}

.fixed a:hover{
  color: #ffffff;
}

.element{
  color: #fff;
  /* display: table; */
  /* margin: 100px auto; */
  position: absolute;
  left: 50%;
  margin-left: -400px;
  top: 50%;
  margin-top: -90px;
}

.element .group{
  display: inline-block;
  position: relative;
  cursor:pointer;
  margin: 0 5px;
}

.element button{
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 2px;
  cursor: inherit;
  border:0;
  color:#ffffff;
  width: 150px;
  outline: 0;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.fb{
  background-color: #306199;
}

.fb:hover{
  background-color: #244872;
}



.count{
  background-color: #fff;
  color: #565656;
  border-radius: 2px;
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
  height: 40px;
}

.fa-caret-down{
  position: absolute;
  margin-top: -22px;
  text-align: center;
  right: 10px;
  font-size: 28px;
}

.gp{
  background-color: #e93f2e;
}

.gp:hover{
  background-color: #ce2616;
}

.linkedin{
  background-color: #007bb6;
}

.linkedin:hover{
  background-color: #005983;
}

.twitter{
  background-color: #26c4f1;
}

.twitter:hover{
  background-color: #0eaad6;
}

.pinterest{
  background-color: #b81621;
}

.pinterest:hover{
  background-color: #8a1119;
}
